<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="tracerSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="webServerSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="DBSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <tracerSettings>
    <add key="tracePath" value="D:\Logs\" />
    <!--true,false-->
    <add key="enable" value="true" />
    <!--Debug,Critical,Error,Warning,Notice,Info,Full-->
    <add key="traceLevel" value="Full" />
    <add key="maxSize" value="256MB" />
    <!--true,false-->
    <add key="detailedException" value="true" />
  </tracerSettings>
  <webServerSettings>
    <add key="baseAddress" value="http://localhost:8088" />
    <add key="bearerToken" value="3PzjC+1uHHNhkjA0P3DUcA==!" />
  </webServerSettings>
  <DBSettings>
    <add key="serverName" value=".\SQLEXPRESS" />
    <add key="dataBaseName" value="SistemaLogin" />
    <add key="userName" value="" />
    <add key="password" value=" " />
    <add key="integratedSecurity" value="true" />
  </DBSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>